<config>
    <accessibility>
        <enable type="bool" default="false">{{ getenv "COLLABORA_ENABLE_ACCESSIBILITY" "false" | conv.ToBool }}</enable>
    </accessibility>

    <allowed_languages default="de_DE en_GB en_US es_ES fr_FR it nl pt_BR pt_PT ru">{{ getenv "COLLABORA_ALLOWED_LANGUAGES" "de_DE en_GB en_US es_ES fr_FR it nl pt_BR pt_PT ru" }}</allowed_languages>

    <languagetool>
        <enabled type="bool" default="false">{{ getenv "COLLABORA_ENABLE_REMOTE_LANGUAGE_CHECK" "false" | conv.ToBool }}</enabled>
        <base_url type="string" default="">{{ getenv "COLLABORA_REMOTE_LANGUAGE_CHECK_BASE_URL" "" }}</base_url>
        <user_name type="string" default="">{{ getenv "COLLABORA_REMOTE_LANGUAGE_CHECK_USER_NAME" "" }}</user_name>
        <api_key type="string" default="">{{ getenv "COLLABORA_REMOTE_LANGUAGE_CHECK_API_KEY" "" }}</api_key>
        <ssl_verification type="string" default="true">{{ getenv "COLLABORA_REMOTE_LANGUAGE_CHECK_ENABLE_SSL" "true" | conv.ToBool }}</ssl_verification>
        <rest_protocol type="string" default="">{{ getenv "COLLABORA_REMOTE_LANGUAGE_CHECK_PROTOCOL" "" }}</rest_protocol>
    </languagetool>

    {{- if (getenv "COLLABORA_PLUGIN_DEEPL_ENABLED" "false" | conv.ToBool) }}

    <deepl>
        <enabled type="bool" default="false">true</enabled>
        <api_url type="string" default="">{{ getenv "COLLABORA_PLUGIN_DEEPL_API_URL" "https://api-free.deepl.com/v2/translate" }}</api_url>
        <auth_key type="string" default="">{{ getenv "COLLABORA_PLUGIN_DEEPL_AUTH_KEY" }}</auth_key>
    </deepl>
    {{- end }}

    <sys_template_path type="path" relative="true" default="systemplate">/opt/cool/systemplate</sys_template_path>
    <child_root_path type="path" relative="true" default="jails">/opt/cool/child-roots</child_root_path>
    <mount_jail_tree type="bool" default="true"></mount_jail_tree>

    <server_name type="string" default="">{{ getenv "COLLABORA_SERVER_NAME" }}</server_name>
    <file_server_root_path type="path" relative="true" default="loleaflet/../">/usr/share/coolwsd</file_server_root_path>
    <hexify_embedded_urls type="bool" default="false">{{ getenv "COLLABORA_HEXIFY_EMBEDDED_URLS" "false" | conv.ToBool }}</hexify_embedded_urls>
    <experimental_features type="bool" default="true">{{ getenv "COLLABORA_EXPERIMENTAL_FEATURES" "true" | conv.ToBool }}</experimental_features>
    <mount_namespaces type="bool" default="false">{{ getenv "COLLABORA_EXPERIMENTAL_USE_NAMESPACES" "false" }}</mount_namespaces>

    <memproportion type="double" default="80.0"></memproportion>
    <num_prespawn_children type="uint" default="1">{{ getenv "COLLABORA_NUM_RESPAWN_CHILDREN" "1" }}</num_prespawn_children>
    <per_document>
        <max_concurrency type="uint" default="4">{{ getenv "COLLABORA_PER_DOCUMENT_MAX_CONCURRENCY" "4" }}</max_concurrency>
        <batch_priority type="uint" default="5">5</batch_priority>
        <bgsave_priority type="uint" default="5">5</bgsave_priority>
        <document_signing_url type="string" default=""></document_signing_url>
        <redlining_as_comments type="bool" default="false">{{ getenv "COLLABORA_PER_DOCUMENT_REDLINING_AS_COMMENT" "true" | conv.ToBool }}</redlining_as_comments>
        <pdf_resolution_dpi type="uint" default="96">{{ getenv "COLLABORA_PER_DOCUMENT_PDF_RESOLUTION_DPI" "96" }}</pdf_resolution_dpi>
        <idle_timeout_secs type="uint" default="3600">{{ getenv "COLLABORA_PER_DOCUMENT_IDLE_TIMEOUT" "3600" }}</idle_timeout_secs>
        <idlesave_duration_secs type="int" default="30">{{ getenv "COLLABORA_PER_DOCUMENT_IDLESAVE_DURATION" "30" }}</idlesave_duration_secs>
        <autosave_duration_secs type="int" default="300">{{ getenv "COLLABORA_PER_DOCUMENT_AUTOSAVE_DURATION" "300" }}</autosave_duration_secs>
        <background_autosave type="bool" default="true">true</background_autosave>
        <background_manualsave type="bool" default="true">true</background_manualsave>
        <always_save_on_exit type="bool" default="false">{{ getenv "COLLABORA_PER_DOCUMENT_ALLWAYS_SAVE_ON_EXIT" "false" | conv.ToBool }}</always_save_on_exit>
        <limit_virt_mem_mb type="uint">0</limit_virt_mem_mb>
        <limit_stack_mem_kb type="uint">8000</limit_stack_mem_kb>
        <limit_file_size_mb type="uint">{{ getenv "COLLABORA_PER_DOCUMENT_LIMIT_FILE_SIZE" "0" }}</limit_file_size_mb>
        <limit_num_open_files type="uint">{{ getenv "COLLABORA_PER_DOCUMENT_LIMIT_NUM_OPEN_FILES" "0" }}</limit_num_open_files>
        <limit_load_secs type="uint" default="100">100</limit_load_secs>
        <limit_store_failures type="uint" default="5">5</limit_store_failures>
        <limit_convert_secs type="uint" default="100">100</limit_convert_secs>
        <min_time_between_saves_ms type="uint" default="500">500</min_time_between_saves_ms>
        <min_time_between_uploads_ms type="uint" default="5000">5000</min_time_between_uploads_ms>
        <cleanup enable="false">
            <cleanup_interval_ms type="uint" default="10000">10000</cleanup_interval_ms>
            <bad_behavior_period_secs type="uint" default="60">60</bad_behavior_period_secs>
            <idle_time_secs type="uint" default="300">300</idle_time_secs>
            <limit_dirty_mem_mb type="uint" default="3072">3072</limit_dirty_mem_mb>
            <limit_cpu_per type="uint" default="85">85</limit_cpu_per>
            <lost_kit_grace_period_secs default="120">120</lost_kit_grace_period_secs>
        </cleanup>
    </per_document>

    <per_view>
        <out_of_focus_timeout_secs type="uint" default="120">{{ getenv "COLLABORA_PER_VIEW_OUT_OF_FOCUS_TIMEOUT" "120" }}</out_of_focus_timeout_secs>
        <idle_timeout_secs type="uint" default="900">{{ getenv "COLLABORA_PER_VIEW_IDLE_TIMEOUT" "900" }}</idle_timeout_secs>
        <custom_os_info type="string" default="">{{ getenv "COLLABORA_PER_CUSTOM_OS_INFO "" }}</custom_os_info>
    </per_view>

    <ver_suffix type="string" default=""></ver_suffix>

    <logging>
        <color type="bool">{{ getenv "COLLABORA_LOGGING_COLOR" "false" | conv.ToBool }}</color>
        <level type="string" default="warning">{{ getenv "COLLABORA_LOGGING_LEVEL" "warning" }}</level>
        <level_startup type="string" default="trace">trace</level_startup>
        <disabled_areas type="string" default="Socket,WebSocket,Admin">{{ getenv "COLLABORA_LOGGING_LEVEL_DISABLED_AREAS" "Socket,WebSocket,Admin,Pixel" }}</disabled_areas>
        <most_verbose_level_settable_from_client type="string" default="notice">notice</most_verbose_level_settable_from_client>
        <least_verbose_level_settable_from_client type="string" default="fatal">fatal</least_verbose_level_settable_from_client>
        <protocol type="bool">false</protocol>
        <lokit_sal_log type="string" default="-INFO-WARN">-INFO-WARN</lokit_sal_log>
        <file enable="false">
            <property name="path">/var/log/coolwsd.log</property>
            <property name="rotation">never</property>
            <property name="archive">timestamp</property>
            <property name="compress">true</property>
            <property name="purgeAge">10 days</property>
            <property name="purgeCount">10</property>
            <property name="rotateOnOpen">true</property>
            <property name="flush">false</property>
        </file>
        <anonymize>
            <anonymize_user_data type="bool" default="false">{{ getenv "COLLABORA_LOGGING_ANONYMIZE_USER_DATA" "false" | conv.ToBool }}</anonymize_user_data>
            <anonymization_salt type="uint" default="82589933">82589933</anonymization_salt>
        </anonymize>
        <docstats type="bool" default="false">{{ getenv "COLLABORA_LOGGING_DOCSTATS" "false" | conv.ToBool }}</docstats>
        <userstats type="bool" default="false">{{ getenv "COLLABORA_LOGGING_USERSTATS" "false" | conv.ToBool }}</userstats>
        <disable_server_audit type="bool" default="false">{{ getenv "COLLABORA_LOGGING_DISABLE_SERVER_AUDIT" "false" | conv.ToBool }}</disable_server_audit>
    </logging>

    <!--
         Note to developers: When you do "make run", the trace_event[@enable] will be set on the
         coolwsd command line, so if you want to change it for your testing, do it in Makefile.am,
         not here.
    -->
    <trace_event enable="false">
        <path type="string" default="/var/log/coolwsd.trace.json">/var/log/coolwsd.trace.json</path>
    </trace_event>

    <browser_logging default="false">{{ getenv "COLLABORA_LOGGING_BROWSER_CONSOLE" "false" | conv.ToBool }}</browser_logging>

    <trace enable="{{ getenv "COLLABORA_TRACE_ENABLE" "false" | conv.ToBool }}">
        <path compress="true" snapshot="false"></path>
        <filter>
            {{- range (getenv "COLLABORA_TRACE_FILTER" | strings.Split " ") }}
              <message>{{ . }}</message>
            {{- end }}
        </filter>
        <outgoing>
            <record default="false">false</record>
        </outgoing>
    </trace>

    <net>
      <proto type="string" default="all">{{ getenv "COLLABORA_NET_PROTO" "all" }}</proto>
      <listen type="string" default="any">{{ getenv "COLLABORA_NET_LISTEN" "any" }}</listen>
      <service_root type="path" default=""></service_root>
      <proxy_prefix type="bool" default="false"></proxy_prefix>
      <post_allow allow="{{ getenv "COLLABORA_NET_POST_ALLOW" "true" | conv.ToBool }}">
      {{- range (getenv "COLLABORA_NET_POST_ALLOW_HOSTS" "127.0.0.1 ::1" | strings.Split " ") }}
        <host>{{ . | strings.TrimSpace }}</host>
      {{- end }}
      </post_allow>
      <lok_allow desc="Allowed hosts as an external data source inside edited files. All allowed post_allow.host and storage.wopi entries are also considered to be allowed as a data source. Used for example in: PostMessage Action_InsertGraphics, =WEBSERVICE() function, external reference in the cell.">
        <host desc="The IPv4 private 192.168 block as plain IPv4 dotted decimal addresses.">192\.168\.[0-9]{1,3}\.[0-9]{1,3}</host>
        <host desc="Ditto, but as IPv4-mapped IPv6 addresses">::ffff:192\.168\.[0-9]{1,3}\.[0-9]{1,3}</host>
        <host desc="The IPv4 loopback (localhost) address.">127\.0\.0\.1</host>
        <host desc="Ditto, but as IPv4-mapped IPv6 address">::ffff:127\.0\.0\.1</host>
        <host desc="The IPv6 loopback (localhost) address.">::1</host>
        <host desc="The IPv4 private 172.16.0.0/12 subnet part 1.">172\.1[6789]\.[0-9]{1,3}\.[0-9]{1,3}</host>
        <host desc="Ditto, but as IPv4-mapped IPv6 addresses">::ffff:172\.1[6789]\.[0-9]{1,3}\.[0-9]{1,3}</host>
        <host desc="The IPv4 private 172.16.0.0/12 subnet part 2.">172\.2[0-9]\.[0-9]{1,3}\.[0-9]{1,3}</host>
        <host desc="Ditto, but as IPv4-mapped IPv6 addresses">::ffff:172\.2[0-9]\.[0-9]{1,3}\.[0-9]{1,3}</host>
        <host desc="The IPv4 private 172.16.0.0/12 subnet part 3.">172\.3[01]\.[0-9]{1,3}\.[0-9]{1,3}</host>
        <host desc="Ditto, but as IPv4-mapped IPv6 addresses">::ffff:172\.3[01]\.[0-9]{1,3}\.[0-9]{1,3}</host>
        <host desc="The IPv4 private 10.0.0.0/8 subnet (Podman).">10\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}</host>
        <host desc="Ditto, but as IPv4-mapped IPv6 addresses">::ffff:10\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}</host>
        <host desc="Localhost access by name">localhost</host>
      </lok_allow>
      <content_security_policy>{{ getenv "COLLABORA_NET_CSP "" }}</content_security_policy>
      <frame_ancestors></frame_ancestors>
      <connection_timeout_secs type="int" default="30"></connection_timeout_secs>
      <proxy_prefix type="bool" default="false"></proxy_prefix>
    </net>

    <ssl>
        <enable type="bool" default="false">{{ getenv "COLLABORA_SSL_ENABLE" "false" | conv.ToBool }}</enable>
        <termination type="bool" default="true">{{ getenv "COLLABORA_SSL_TERMINATION_ENABLE" "true" | conv.ToBool }}</termination>
        <cert_file_path relative="false">/etc/coolwsd/cert.pem</cert_file_path>
        <key_file_path relative="false">/etc/coolwsd/key.pem</key_file_path>
        <ca_file_path relative="false">/etc/coolwsd/ca-chain.cert.pem</ca_file_path>
        <ssl_verification type="string" default="false">{{ getenv "COLLABORA_SSL_VERIFiCATION" "false" }}</ssl_verification>
        <cipher_list default="ALL:!ADH:!LOW:!EXP:!MD5:@STRENGTH"></cipher_list>
        <hpkp enable="false" report_only="false">
            <max_age enable="true">1000</max_age>
            <report_uri enable="false"></report_uri>
            <pins>
                <pin></pin>
            </pins>
        </hpkp>
        <sts>
            <enabled type="bool" default="false">{{ getenv "COLLABORA_STS_ENABLE" "false" | conv.ToBool }}</enabled>
            <max_age type="int" default="31536000">31536000</max_age>
        </sts>
    </ssl>

    <security>
      <seccomp type="bool" default="true">{{ getenv "COLLABORA_SECURITY_SECCOMP" "true" | conv.ToBool }}</seccomp>
      <capabilities type="bool" default="true">{{ getenv "COLLABORA_SECURITY_CAPABILITIES" "true" | conv.ToBool }}</capabilities>
      <jwt_expiry_secs type="int" default="1800">{{ getenv "COLLABORA_SECURITY_JWT_EXPIRY_SECS" "1800" }}</jwt_expiry_secs>
      <enable_macros_execution type="bool" default="false">{{ getenv "COLLABORA_SECURITY_ENABLE_MACROS" "false" | conv.ToBool }}</enable_macros_execution>
      <macro_security_level type="int" default="1">1</macro_security_level>
      <enable_websocket_urp type="bool" default="false">false</enable_websocket_urp>
      <enable_metrics_unauthenticated type="bool" default="false">{{ getenv "COLLABORA_SECURITY_ENABLE_METRICS_UNAUTHENTICATED" "false" | conv.ToBool }}</enable_metrics_unauthenticated>
    </security>

    <certificates>
      <database_path type="string" default=""></database_path>
    </certificates>

    <watermark>
      <opacity type="double" default="0.2">{{ getenv "COLLABORA_WATERMARK_OPACITY" "0.2" }}</opacity>
      <text type="string"></text>
    </watermark>

    <welcome>
      <enable type="bool" default="false">false</enable>
      <enable_button type="bool" default="false">false</enable_button>
      <path type="path" relative="true" default="loleaflet/welcome"></path>
    </welcome>

    <user_interface>
      <mode type="string" default="default">{{ getenv "COLLABORA_UI_MODE" "tabbed" }}</mode>
      <use_integration_theme type="bool" default="true">true</use_integration_theme>
    </user_interface>

    <storage>
        <filesystem allow="false" />
        <wopi allow="{{ getenv "COLLABORA_STORAGE_WOPI_ALLOW" "true" | conv.ToBool }}">
            {{- range (getenv "COLLABORA_STORAGE_WOPI_HOSTS_ALLOW" "localhost" | strings.Split " ") }}
              <host allow="true">{{ . | strings.TrimSpace }}</host>
            {{- end }}
            <max_file_size type="uint">{{ getenv "COLLABORA_STORAGE_WOPI_MAX_FILE_SIZE" "0" }}</max_file_size>
            <locking>
                <refresh type="int" default="900">900</refresh>
            </locking>

            <alias_groups mode="first">
            </alias_groups>

            <is_legacy_server type="bool" default="false"></is_legacy_server>
        </wopi>
        <ssl>
            <as_scheme type="bool" default="true">true</as_scheme>
            <enable type="bool"></enable>
            <cert_file_path relative="false"></cert_file_path>
            <key_file_path relative="false"></key_file_path>
            <ca_file_path relative="false"></ca_file_path>
            <cipher_list></cipher_list>
        </ssl>
    </storage>

    <admin_console>
        <enable type="bool" default="true">{{ getenv "COLLABORA_ADMIN_CONSOLE_ENABLE" "true" | conv.ToBool }}</enable>
        <enable_pam type="bool" default="false">{{ getenv "COLLABORA_ADMIN_CONSOLE_ENABLE_PAM" "false" | conv.ToBool }}</enable_pam>
        <username>{{ getenv "COLLABORA_ADMIN_CONSOLE_USERNAME" }}</username>
        <password>{{ getenv "COLLABORA_ADMIN_CONSOLE_PASSWORD" }}</password>
        <logging>
            <admin_login type="bool" default="true">true</admin_login>
            <metrics_fetch type="bool" default="true">true</metrics_fetch>
            <monitor_connect type="bool" default="true">true</monitor_connect>
            <admin_action type="bool" default="true">true</admin_action>
        </logging>
    </admin_console>

    <monitors>
    </monitors>

    <quarantine_files default="false" enable="false">
        <limit_dir_size_mb default="250" type="uint"></limit_dir_size_mb>
        <max_versions_to_maintain default="5" type="uint"></max_versions_to_maintain>
        <path type="path" relative="false"></path>
        <expiry_min type="int" default="3000"></expiry_min>
    </quarantine_files>

    <remote_config>
        <remote_url type="string" default=""></remote_url>
    </remote_config>

    <stop_on_config_change type="bool" default="false">false</stop_on_config_change>

    <remote_font_config>
        <url type="string" default="">{{ getenv "COLLABORA_REMOTE_FONT_CONFIG" ""}}</url>
    </remote_font_config>

    <home_mode>
        <enable type="bool" default="false">{{ getenv "COLLABORA_ENABLE_HOME_MODE" "false" | conv.ToBool }}</enable>
    </home_mode>

    <fonts_missing>
        <handling type="string" default="log">{{ getenv "COLLABORA_HANDLE_MISSING_FONTS" "log"}}</handling>
    </fonts_missing>

    <indirection_endpoint>
      <url default=""></url>
      <migration_timeout_secs type="uint" default="180"></migration_timeout_secs>
    </indirection_endpoint>





    <zotero>
        <enable type="bool" default="true">true</enable>
    </zotero>

    <help_url  type="string" default="https://help.collaboraoffice.com/help.html?">{{ getenv "COLLABORA_HELP_URL" "https://help.collaboraoffice.com/help.html?" }}</help_url>

    <overwrite_mode>
        <enable type="bool" default="true">true</enable>
    </overwrite_mode>

    <wasm>
        <enable type="bool" default="false"></enable>
        <force type="bool" default="false"></force>
    </wasm>

</config>
